{% extends 'base.html' %}

{% block title %}Incident List {% endblock title %}

{% block content %}
    <div>
        <a class="btn btn-primary btn-lg btn-block" href="{% url 'incidents/incident_new' %}">New Incident</a>
    </div>
    <br />
    {% for incident in object_list %}
        <div class="card">
            <div class="card-header">
                <span class="font-weight-bold"></span> &middot;
                <span class="text-muted">
                </span>
            </div>
            <div class="card-body">
                <p>Full Name: {{ incident.full_name }} </p>
                <p>Customer Email: {{ incident.customer_email }} </p>
                <p>Employee Email: {{ incident.employee_email }}</p>
            </div>
            <div class="card-footer text-center text-muted">
                <a href="{% url 'incidents/incident_detail' incident.pk %}">Details</a> |
                <a href="{% url 'incidents/incident_edit' incident.pk %}">Edit</a> |
                <a href="{% url 'incidents/incident_delete' incident.pk %}">Delete</a>
            </div>
        </div>
        <br />

    {% endfor %}
{% endblock content %}