{% extends 'base.html' %}

{% block content %}
    <div class="post-entry">
        <h2>{{ incident.full_name }}</h2>
        <p>{{ incident.team }}</p>
        <p>{{ incident.organization_impacted_by_incident }}</p>
        <p>{{ incident.affiliation_to_org }}</p>
        <p>{{ incident.user_incident_reported_by }}</p>
        <p>{{ incident.employee_email }}</p>
        <p>{{ incident.customer_email }}</p>
        <p>{{ incident.prevention }}</p>
        <p>{{ incident.additional_notes }}</p>
        <p>{{ incident.incident_notes }}</p>
        <p>{{ incident.date_incident_reported }}</p>
        <p>{{ incident.date_incident_occured }}</p>
        <p>{{ incident.author }}</p>
    </div>

    <a href="{% url 'incidents/incident_edit' incident.pk %}"> + Edit Incident</a>
    <a href="{% url 'incidents/incident_delete' incident.pk %}"> + Delete Incident</a>
{% endblock content %}

