{% extends 'base.html' %}

{% block title %}Incident List {% endblock title %}

{% block content %}
    <div>
        <a class="btn btn-primary btn-lg btn-block" href="{% url 'incidents/incident_new' %}">New Incident</a>
    </div>
    <br />
    {% for incident in object_list %}
        <div class="card">
            <div class="card-header">
                <p>Severity Level: {{ incident.level }}</p>
                <span class="text-muted">
                </span>
            </div>
            <div class="card-body">
                <p>Customer ID: {{ incident.customer_id }} </p>
                <p>Customer Email: {{ incident.customer_email }} </p>
                <p>Author of Report: {{ incident.author }}</p>
            </div>
            <div class="card-footer text-center text-muted">
                <a class="btn btn-success" href="{% url 'incidents/incident_detail' incident.pk %}">Details</a>
                <a class="btn btn-warning" href="{% url 'incidents/incident_edit' incident.pk %}">Edit Incident</a>
                <a class="btn btn-danger" href="{% url 'incidents/incident_delete' incident.pk %}">Delete Incident</a>
            </div>
        </div>
        <br />

    {% endfor %}
{% endblock content %}