{% extends 'base.html' %}

{% block content %}
    <div class="post-entry">

        <ul class="list-group">
            <li class="list-group-item">Severity Level: {{ incident.level }}</li>
            <li class="list-group-item disabled" aria-disabled="true">What Happend ?: {{ incident.what_happened }}</li>
            <li class="list-group-item">Customer ID: {{ incident.customer_id }}</li>
            <li class="list-group-item">Customer Email: {{ incident.customer_email }}</li>
            <li class="list-group-item">When did it happen ?: {{ incident.when_did_it_happen }}</li>
            <li class="list-group-item">How was it discovered ?: {{ incident.how_was_it_discovered }}</li>
            <li class="list-group-item">How could we have prevented this ?: {{ incident.how_could_we_have_prevented_this }}</li>
            <li class="list-group-item">Additional Notes: {{ incident.additional_notes }}</li>
            <li class="list-group-item">Date of Incident: {{ incident.data_of_incident }}</li>
            <li class="list-group-item">Author of Report: {{ incident.author }}</li>
        </ul>

    </div>

    <a class="btn btn-warning" href="{% url 'incidents/incident_edit' incident.pk %}">Edit Incident</a>
    <a class="btn btn-danger" href="{% url 'incidents/incident_delete' incident.pk %}">Delete Incident</a>
    <a class="btn btn-dark" href="{% url 'incidents/incident_list' %}">Go Back</a>

{% endblock content %}

