{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}




    {% if user.is_authenticated %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome to Version 2 </h1>
            <p class="lead">Submit an incident below</p>
        </div>
    </div>
    {% else %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2 class="display-4">Welcome to Version 2 </h2>
            <p class="lead">Incident Response forms streamlined</p>
            <p class="lead">Please take a moment to Sign up and explore further.</p>
        </div>
    </div>
     {% endif %}



    {% if user.is_authenticated %}
    <br/>
        <a class="btn btn-primary btn-lg btn-block" href="{% url 'incidents/incident_new' %}">New Incident</a>
    <br/>

    {% endif %}
{% endblock content %}